@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Bricolage Grotesque';
        src: local('BricolageGrotesque-Regular-BF648bd5781d794') url('/fonts/bricolage-grotesque/BricolageGrotesque-Regular-BF648bd5781d794.otf');
        font-weight: normal;
        font-display: swap;
    }
}